<?xml version="1.0"?>
<config>
    <tabs>
        <razvanmocanu translate="label" module="devtools">
            <label>Razvan Mocanu Devtools</label>
            <sort_order>150</sort_order>
        </razvanmocanu>
    </tabs>
    <sections>
        <devtools_options translate="label" module="devtools">
            <label>Devtools Config Options</label>
            <tab>razvanmocanu</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <block_info_settings translate="label">
                    <label>Devtools Block Info</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <block_info_enabled>
                            <label>Enable Block Info</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If enabled this will add information about each block in the HTML source. Below you
                                can configure which information is added.
                            </comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </block_info_enabled>
                        <tag_select>
                            <label>Tag to use</label>
                            <frontend_type>select</frontend_type>
                            <source_model>razvanMocanu_devtools/tagselect</source_model>
                            <comment>This tag will encapsulate the block. The root block, head block and children of
                                head block will be encapsulated in comments regardless of this selection.
                            </comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tag_select>
                        <show_block_name>
                            <label>Show Block Name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If enabled the block name will be included as attribute in the encapsulating tag.
                            </comment>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_block_name>
                        <show_block_template>
                            <label>Show Block Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If enabled the block template will be included as attribute in the encapsulating
                                tag.
                            </comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_block_template>
                        <show_block_data>
                            <label>Show Block Data</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If enabled the block data will be included as attribute in the encapsulating tag.
                            </comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_block_data>
                        <show_cms_data>
                            <label>Show CMS Data</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If enabled and the block is of CMS type, the ID will be included as attribute in the encapsulating tag.
                            </comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_cms_data>
                        <show_on_hover>
                            <label>Use title</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If enabled and div used as encapsulating tag, this will ad the title attribute to
                                the encapsulating div so it will display the template file on hover.
                            </comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_on_hover>
                        <show_empty_blocks>
                            <label>Encapsulate Empty Blocks</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If enabled the block will be encapsulated even if it is empty.</comment>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_empty_blocks>
                        <show_layout_handles>
                            <label>Layout Update Handles List</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If enabled, a comment with the list of handles will be added at the beginning of the page.</comment>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_layout_handles>
                    </fields>
                </block_info_settings>
            </groups>
        </devtools_options>
    </sections>
</config>
